:root {
    --white-color : #FFFFFF;
    --black-color : #050505;
    --blue-color : #2345F5;
    --red-color : #F52323;
    --grey-dark-color : #626262;
    --grey-light-color : #949191;

     /* size */
    --side-padding : 12px;
    --avatar-size : 36px;

    /* font size */
    --font-xxlarge : 40px;
    --font-xlarge : 30px;
    --font-large : 18px;
    --font-medium : 14px;
    --font-small : 12px;
    --font-micro : 10px;

    /* font weight */
    --font-bold : bold;
}

* {
    text-align : center;
}

body {
    font-family: Roboto;
}

/* header */
header {
    display : flex;
    color : var(--white-color);
    font-size : 80px;
    display: block;
    padding : 0px;
    margin : 0 auto;
}

header .logo {
    top : 60px;
}

header .logo i {
    color : var(--red-color);
    font-size : 80px;
}

.MDD {
    color : var(--black-color); 
}

/* research & button */
.TEXT {

    color : var(--white-color);
    padding : 0px;
    height : 20px;
}

.Text .text{
    font-size : 30px;
}

.research{
    font-size : 30px;
}

/* description */
.description {
    font-weight : var(--font-bold);
    padding : 0px;
}

.AM {
    font-size : var(--font-xlarge);
    line-height : 200%;
}

.danger{
    font-size : 20px;
    text-align : center;
    color : red;

}

.image{
    padding : 0px;
    margin : 0 auto;
    display : block;
    font-size : var(--font-xxlarge);
}




